.card-content{
    background-color:#06161b4f;
}


.Skills{
    margin:5px auto; 
}
.myAnimationRight{
    position: relative;
    animation: mymove2 5s infinite;
}

@keyframes mymove2 {
    from {right: 0px;}
    to {right: 25px;}
  }
.myAnimationLeft{
    position: relative;
    animation: mymove3 5s infinite;
}

@keyframes mymove3 {
    from {left: -5px;}
    to {left: 10px;}
  }
.Skills img{
    width:250px;
    height:250px;
    margin: 10px;
    border-radius: 10px;
   transition: transform 0.7s ease-in-out;
}
.Skills img:hover{
    transform: scale(.9) rotate(360deg);
}

  