
.skill{
   position: relative;
   overflow: hidden;
}
.myAnimationRight{
    position: relative;
    animation: mymove2 5s infinite;
}

@keyframes mymove2 {
    from {right: 0px;}
    to {right: 25px;}
  }
.myAnimationLeft{
    position: relative;
    animation: mymove3 5s infinite;
}

@keyframes mymove3 {
    from {left: -5px;}
    to {left: 10px;}
  }
.skill img{
    width:90%;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
    transition: transform 0.7s ease-in-out;
}
.skill img:hover{
    transform: scale(.9) rotate(360deg);
}

  