.main-container{
    background-position:center;  
    background-image: url('../../Images/pre.svg');
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}
.footerPart{
    background-color:rgba(0, 0, 0, 0.722);
}
.container-part{
    background-color:#252935;
    
}

