.card{
    border:none;
}
.about-div {
   position: relative; 
}

.myAnimationRightImage{
   
    animation: mymove4 15s infinite;
   
}
.col-md-6 {
    border: 1px solid black;
}

@keyframes mymove4 {
    from {right: 0px;}
    to {right: 25%;}
  }