.card{
    border:none;
}
.about-div {
   position: relative; 
}

.myAnimationRightImage{
   
    animation: mymove4 15s infinite;
   
}
.myAnimationLeftdiv{
    animation: leftDiv 15s infinite;
    
}
@keyframes leftDiv{
    from {left: -25px;}
    to {left: 25%;}
}
@keyframes mymove4 {
    from {right: 0px;}
    to {right: 25%;}
  }