.picture-div {
    width: 100%;
    height:auto;
}
.about-div {
    position: relative;
    width: 50%;
    padding: 10px;
    border-radius: 50%;
}

.myAnimationRight {
    animation: mymove4 15s infinite ease-in-out;
}
.myAnimationLeftImage {
    animation: leftDiv 15s infinite ease-in-out;
}
@keyframes leftDiv {
    from {
        left: -25px;
    }
    to {
        left: 5%;
    }
}
@keyframes mymove4 {
    from {
        right: -5px;
    }
    to {
        right: 5%;
    }
}
